/* --------------------------- *\
/* copyright 2023 @Rafael
/* --------------------------- */

/* --------------------------- *\
/* Custom Property
/* --------------------------- */

:root{
--rich-black-fogra-29: hsl(225, 25%, 9%);
--rich-black-fogra-39: hsl(170, 21%, 5%);
--raisin-black: hsl(228, 13%, 15%);
--eerie-black: hsl(207, 19%, 11%);
--light-gray: hsl(0, 3%, 80%);
--gunmetal-1: hsl(229, 15%, 21%);
--gunmetal-2: hsl(216, 22%, 18%);
--gainsboro: hsl(0, 7%, 88%);
--citrine: hsl(57, 97%, 45%);
--xiketic: hsl(253, 21%, 13%);
--gray-x: hsl(0, 0%, 74%);
--white: hsl(0, 100%, 100%);
--black: hsl(0, 0%, 0%);
--jet: hsl(0, 0%, 20%);

/* Fontes */

--ff-poppins: 'Poppins', sans-serif;

--fs-1: 36px;
--fs-2: 32px;
--fs-3: 30px;
--fs-4: 24px;
--fs-5: 20px;
--fs-6: 18px;
--fs-7: 16px;
--fs-8: 15px;
--fs-9: 14px;
--fs-10: 13px;
--fs-11: 12px;
--fs-12: 11px;

--fw500: 500;
--fw700: 700;

/* Transition */

--transition_1: 0.15s= ease;
--transition_2: 0.25s= ease-in;

/* Space */

--section_padding: 100px;

}

/* --------------------------- */
/* Reset
/* --------------------------- */

.h1,
.h2,
.h3{
    color: var(--white);
    line-height: 40px;
}

.h1{
    font-size: var(--fs-1);
}

.h2{
    font-size: var(--fs-2);
}

.h3{
    font-size: var(--fs-6);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

a,
img,
span,
input,
buttons,
ion-icon{
    display: block;
}

html{
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
}

body{
    background: var(--eerie-black);
}

body.active{
    overflow: hidden;
}

.container{
    padding: 15px;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    transition: var(--transition-2);
    z-index: 2;
}

.header:active{
    background: var(--eerie-black);
    padding: 20px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerActions{
    display: none;
}

.btn-mobile ion-icon{
    font-size: 40px;
    color: var(--white);
    cursor: pointer;
}

button{
    background: transparent;
    border: none;
}

/* --------------------------- *\
/* Banner
/* --------------------------- */

.hero{
    background: url('../img/DRBanner2.png') no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-block: var(--section_padding);
}

.hero-content{
    margin-top: 60px;
}

.hero-subtitle{
    color: var(--white);
    font-size: var(--fs-4);
    font-weight: var(--fw700);
    margin-bottom: 20px;
}

.hero-title > strong{
    color: #ff0081;
}